# Based on http://www.candlerblog.com/2012/09/10/fountain-for-sublime-text/

'name': 'Fountain'
'scopeName': 'source.fountain'
'fileTypes': [
  'fountain'
  'ftn'
]

'patterns': [
  { 'include': '#comments' }
  { 'include': '#title_page' }
  { 'include': '#scene_headings' }
  { 'include': '#sections' }
  { 'include': '#synopses' }
  { 'include': '#transitions' }
  { 'include': '#dialogue' }
  { 'include': '#lyrics' }
  { 'include': '#markup' }
  { 'include': '#notes' }
  { 'include': '#pagebreaks' }
  { 'include': '#action' }
]

'repository': {
  'action': {
    'begin': '^([ \\t]*)(?=\\S)'
    'contentName': 'meta.paragraph.text'
    'end': '^(?!\\1(?=\\S))'
    'patterns': [
      {
        'match': '(?x)( (https?|s?ftp|ftps|file|smb|afp|nfs|(x-)?man|gopher|txmt):\/\/|mailto:)[-:@a-zA-Z0-9_.,~%+/?=&#]+(?<![.,?:])'
        'name': 'markup.underline.link.text'
      }
      {
        'include': '#comments'
      }
      {
        'include': '#markup'
      }
      {
        'include': '#notes'
      }
    ]
  }

  'comments': {
    'name': 'comment.block.fountain'
    'begin': '/\\*'
    'end': '\\*/'
  }

  'notes': {
    'name': 'comment.note.fountain'
    'begin': '\\[\\['
    'end': '(^$|\\]\\])'
  }

  'synopses': {
    'name': 'comment.synopses.fountain'
    'begin': '^='
    'end': '^$'
  }

  'dialogue': {
    'contentName': 'string.other.dialogue.fountain'
    'begin': '((@.+$)|([\\p{Lu} ().\\-][\\p{Lu}0-9 ()\'.\\-]+(\\s*\\^)?$))'
    'end': '^$'
    'beginCaptures': {
      1: {
        'name': 'entity.name.character.fountain'
      }
    }
    'applyEndPatternLast': 1
    'patterns': [
      {
        'include': '#lyrics'
      }
      {
        'name': 'comment.block.fountain'
        'begin': '/\\*'
        'end': '\\*/'
      }
      {
        'name': 'string.other.dialogue.parenthetical.fountain'
        'match': '^[ ]*\\(.*\\)$'  # ^[ ]*\(.*\)$
        'patterns': [
          { 'include': '#nested_parens' }
        ]
      }
      { 'include': '#markup' }
    ]
  }

  'lyrics': {
    'patterns': [
      {
        'match': '~.*$'
        'name': 'lyric.fountain'
      }
    ]
  }

  'markup': {
    'name': 'markup'
    'patterns': [
      {
        'begin': '(?<=^|[^\\w\\d\\*])\\*\\*\\*(?!$|\\*|\\s)'
        'end': '(?<!^|\\s)\\*\\*\\**\\*(?=$|[^\\w|\\d])'
        'name': 'markup.bold.italic.gfm'
        'patterns': [
          {
            'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
            'name': 'constant.character.entity.gfm'
            'captures':
              '1':
                'name': 'punctuation.definition.entity.gfm'
              '3':
                'name': 'punctuation.definition.entity.gfm'
          }
        ]
      }
      {
        'begin': '(?<=^|[^\\w\\d_])___(?!$|_|\\s)'
        'end': '(?<!^|\\s)___*_(?=$|[^\\w|\\d])'
        'name': 'markup.bold.italic.gfm'
        'patterns': [
          {
            'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
            'name': 'constant.character.entity.gfm'
            'captures':
              '1':
                'name': 'punctuation.definition.entity.gfm'
              '3':
                'name': 'punctuation.definition.entity.gfm'
          }
        ]
      }
      {
        'begin': '(?<=^|[^\\w\\d\\*])\\*\\*(?!$|\\*|\\s)'
        'end': '(?<!^|\\s)\\*\\**\\*(?=$|[^\\w|\\d])'
        'name': 'markup.bold.gfm'
        'patterns': [
          {
            'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
            'name': 'constant.character.entity.gfm'
            'captures':
              '1':
                'name': 'punctuation.definition.entity.gfm'
              '3':
                'name': 'punctuation.definition.entity.gfm'
          }
        ]
      }
      {
        'begin': '(?<=^|[^\\w\\d_])__(?!$|_|\\s)'
        'end': '(?<!^|\\s)__*_(?=$|[^\\w|\\d])'
        'name': 'markup.bold.gfm'
        'patterns': [
          {
            'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
            'name': 'constant.character.entity.gfm'
            'captures':
              '1':
                'name': 'punctuation.definition.entity.gfm'
              '3':
                'name': 'punctuation.definition.entity.gfm'
          }
        ]
      }
      {
        'begin': '(?<=^|[^\\w\\d\\*])\\*(?!$|\\*|\\s)'
        'end': '(?<!^|\\s)\\**\\*(?=$|[^\\w|\\d])'
        'name': 'markup.italic.gfm'
        'patterns': [
          {
            'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
            'name': 'constant.character.entity.gfm'
            'captures':
              '1':
                'name': 'punctuation.definition.entity.gfm'
              '3':
                'name': 'punctuation.definition.entity.gfm'
          }
        ]
      }
      {
        'begin': '(?<=^|[^\\w\\d_\\{\\}])_(?!$|_|\\s)'
        'end': '(?<!^|\\s)_*_(?=$|[^\\w|\\d])'
        'name': 'markup.italic.gfm'
        'patterns': [
          {
            'match': '(&)([a-zA-Z0-9]+|#[0-9]+|#x[0-9a-fA-F]+)(;)'
            'name': 'constant.character.entity.gfm'
            'captures':
              '1':
                'name': 'punctuation.definition.entity.gfm'
              '3':
                'name': 'punctuation.definition.entity.gfm'
          }
        ]
      }
    ]
  }

  'nested_parens': {
    'begin': '('
    'end': ')'
    'patterns': [
      { 'include': '#nested_parens' }
    ]
  }

  'pagebreaks': {
    'name': 'entity.other.pagebreak.fountain'
    'match': '===(=+)?'
  }

  'title_page': {
    'begin': '^(?i)(title|credit|authors?|source|draft date|contact|copyright|notes):'
    'end': '^(?=(?i)(title|credit|authors?|source|draft date|contact|copyright|notes)|$)'
    'beginCaptures': {
      1: { 'name': 'keyword.other.title-page.fountain' }
    }
    'patterns': [
      {
        'name': 'string.other.title-page.fountain'
        'match': '((?<=:)|\\s+).*$'
      }
    ]
  }

  'transitions': {
    'name': 'entity.other.transition.fountain'
    'match': '^\\s*(>.*|[A-Z ]+ TO:)$'
  }

  'scene_headings': {
    'match': '^\\s*(\\..*?|(?:INT|int|EXT|ext|EST|est|INT|int\\.\/EXT|ext|INT|int\/EXT|ext|I\/E|i/e)(?:\\.| ))(.*?)(?<!  )(#[A-Za-z0-9\\-.]+#)?$'
    'captures': {
      1: { 'name': 'keyword.other.heading.scene.fountain' }
      2: { 'name': 'entity.name.heading.scene.fountain' }
      3: { 'name': 'constant.numeric.scene.fountain' }
    }
  }

  'sections': {
    'name': 'sections'
    'patterns': [
      {
        'name': 'markup.heading.heading-6.gfm'
        'begin': '^(#{6})(\\s*)'
        'end': '$'
      }
      {
        'name': 'markup.heading.heading-5.gfm'
        'begin': '^(#{5})(\\s*)'
        'end': '$'
      }
      {
        'name': 'markup.heading.heading-4.gfm'
        'begin': '^(#{4})(\\s*)'
        'end': '$'
      }
      {
        'name': 'markup.heading.heading-3.gfm'
        'begin': '^(#{3})(\\s*)'
        'end': '$'
      }
      {
        'name': 'markup.heading.heading-2.gfm'
        'begin': '^(#{2})(\\s*)'
        'end': '$'
      }
      {
        'name': 'markup.heading.heading-1.gfm'
        'begin': '^(#{1})(\\s*)'
        'end': '$'
      }
    ]
  }

 # 'synopsis': {
 #   'begin': '\\G(={1,6})(?!=)\\s*(?=\\S)'
 #   'captures': {
 #     1: { 'name': 'punctuation.definition.synopsis.fountain' }
 #   }
 #   'end': '\\s*(=*)$\\n?'
 #   'name': 'markup.synopsis.fountain'
 #   'patterns': [
 #     { 'include': '#inline' }
 #   ]
 # }
}
