# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Fountain'
      'submenu': [
        {
          'label': 'Toggle Outline View'
          'command': 'fountain:toggle-outline-view'
        }
        {
          'label': 'Show Preview'
          'command': 'fountain:preview'
        }
        {
          'label': 'Export PDF'
          'command': 'fountain:export-PDF'
        }
      ]
    ]
  }
]
