# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Fountain'
      'submenu': [
        {
          'label': '显示/隐藏 大纲视图'
          'command': 'fountain:toggle-outline-view'
        }
      ]
    ]
  }
]
