# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-text-editor':
  'ctrl-alt-o': 'fountain:toggle-outline-view'
  'ctrl-alt-M': 'fountain:preview'
  'ctrl-alt-X': 'fountain:export-PDF'
